@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


body {
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f1ec;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}




.text-center{
  text-align: center;
}




.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.position-fixed{
  position: fixed;
}

.align-self-center{
  align-self: center;
}

.dev-full  {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100vw;
}

.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.offset-1{
  margin-left: 8.33% !important ;
}
.offset-2{
  margin-left: 16.66% !important;
}
.offset-3{
  margin-left: 25% !important;
}
.offset-4{
  margin-left: 33.33% !important;
}
.offset-6{
  margin-left: 50% !important;
}

@media (max-width: 768px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-6{
    margin-left: 0 !important;
  }
}